h1 {

color: black;
}
h2 {

color: gray;

}
.start {
  text-align: center;
}
.contact {
  color:  black;
}
form {

text-align: left;



}
#name:focus {

}

#name {
  display: flex;
  flex-direction: column;
  text-align: right;
height: 40px;
margin: .5rem;

  width: 90%;

}
#email {
  display: flex;
  flex-direction: column;
  text-align: right;
height: 40px;
margin: .5rem;
  width: 90%;
}
#phone {
  display: flex;
  flex-direction: column;
 margin: .5rem;
height: 40px;
  width: 90%;
}
#address {
  display: flex;
  flex-direction: column;

margin: .5rem;
height: 40px;
  width: 90%;

}
#city {
  display: flex;
  flex-direction: column;
margin: .5rem;
height: 40px;
  width: 90%;
}
#state {
  display: flex;
  flex-direction: column;
margin: .5rem;
height: 40px;
  width: 90%;
  background-color: #e8eeef;
  font-size: 20px;
}

#zip {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  height: 40px;
    width: 20%;

}
#html-news {


}

#html {


}



button {
  width: 80%;
    font-size: 90px;
     padding: 12px 0;
     font-size: 18px;
     border: none;
     border-radius: 8px;
     margin: 1.5rem auto 2.5rem;
     display: block;
     cursor: pointer;
     background-color:  aqua;
     color: white;
height: 60px;
}
body {



}
input {


    background-color: #e8eeef;


}
label {

}

:checked {


}
textarea {
height: 100px;
width: 100%;
background-color: #e8eeef;


 }

.newsletter {
color: black;

}

footer {
text-align: center;
font-style: italic;

}

@media (min-width: 768px) {
body {

margin: 0 20%;
}

}

